@import url("https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700&subset=cyrillic-ext");

@font-face {
  font-family: BravoRGRegular;
  font-display: swap;
  src: url("../fonts/BravoRGRegular.woff2") format("woff2"), url("../fonts/BravoRGRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: ceremonious_one;
  font-display: swap;
  src: url("../fonts/ceremonious_one.woff2") format("woff2"), url("../fonts/ceremonious_one.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: pfdintextcondpro;
  font-display: swap;
  src: url("../fonts/pfdintextcondpro-medium.woff2") format("woff2"), url("../fonts/pfdintextcondpro-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: pfdintextcondpro;
  font-display: swap;
  src: url("../fonts/pfdintextcondpro-regular.woff2") format("woff2"), url("../fonts/pfdintextcondpro-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

body {
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  letter-spacing: 0.1em;
  overflow: auto;
  overflow-x: hidden;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 10;
  background-color: #1c242a;
  color: #ffffff;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
}

.header__actions {
  position: relative;
  z-index: 5;
}

._container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 10px;
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__body {
  font-family: "pfdintextcondpro";
  text-transform: uppercase;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding-left: 3.0927835052%;
}

.menu__list li:last-child {
  margin-bottom: 0;
}

.icon__menu {
  display: none;
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actions-header__region{
  background: url("../img.webp/globe_reg.webp") 0 1px no-repeat; }

.actions-header__region {
  line-height: 21px;
  text-transform: uppercase;
  font-family: "pfdintextcondpro";
  padding-left: 35px;
  min-width: 18px;
  min-height: 20px;
}

.actions-header__user {
  margin-left: 25px;
}

.user-header__icon{
  background: url("../img/png/shape_top.png") 25px 25% no-repeat, url("../img/png/shape_bot.png") 25px 75% no-repeat; }

.user-header__icon {
  padding-right: 20px;
  cursor: pointer;
}

.user-header__menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 75px;
  right: 0;
  background-color: #1c242a;
  padding: 5px 20px 25px 20px;
  line-height: 25px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  min-width: 200px;
}

.user-header__menu li {
  margin-bottom: 5px;
}

.user-header__menu li:last-child {
  margin-bottom: 0;
}

.user-header__menu._active {
  top: 55px;
  opacity: 1;
  visibility: visible;
}

.user-header__link {
  display: inline-block;
  padding-left: 25px;
}

.user-header__link_1{
  background: url("../img/png/globe_2.png") 2px center no-repeat; }

.no-webp .user-header__link_2{
  background: url("../img/png/key.png") -20px center no-repeat; }

.no-webp .user-header__link_3{
  background: url("../img/png/palm_3680.png") 4px center no-repeat; }

.no-webp .user-header__link_4{
  background: url("../img/png/hammer_3682.png") left center no-repeat; }

.page {
  padding-top: 75px;
}

.slider {
  position: relative;
}

.main-slider {
  position: relative;
}

.main-slider .swiper-wrapper {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.main-slider__item {
  position: relative;
}

.item-main-slider {
  padding: 35px 0px 100px 0px;
  text-align: center;
  position: relative;
}

.item-main-slider__content {
  position: relative;
  z-index: 3;
  height: 100%;
}

.item-main-slider__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.item-main-slider__bg img {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-main-slider__btn {
  color: #ffffff;
}

.btn {
  display: inline-block;
  border-width: 3px;
  border-style: solid;
  -o-border-image: -o-linear-gradient(bottom, #8d642d, #cdb588) 1;
     border-image: -webkit-gradient(linear, left bottom, left top, from(#8d642d), to(#cdb588)) 1;
     border-image: linear-gradient(to top, #8d642d, #cdb588) 1;
  font-size: 15px;
  line-height: 21px;
  padding: 12px 50px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  -o-border-image: -o-linear-gradient(bottom, #bb9c66, #bb9c66) 1;
     border-image: -webkit-gradient(linear, left bottom, left top, from(#bb9c66), to(#bb9c66)) 1;
     border-image: linear-gradient(to top, #bb9c66, #bb9c66) 1;
  background-color: hsla(18, 8%, 37%, 0.1);
}

.title {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.title__item {
  font-family: ceremonious_one;
  font-size: 40px;
  line-height: 25px;
  margin-bottom: 1.25rem;
  color: #bb9c66;
}

.title__main {
  font-family: pfdintextcondpro;
  font-size: 35px;
  line-height: 35px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.18em;
  color: #ffffff;
}

.title__text {
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  padding: 0px 20px 0px 101px;
  margin-top: 1.6875rem;
  margin-bottom: 3.75rem;
}

.title__main_black {
  color: #1c242a;
  font-weight: 500;
}

.control-main-slider {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100px;
  height: 100px;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

.control-main-slider__arrow {
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.control-main-slider__arrow_left {
  -webkit-transform: translate(170%, 0);
      -ms-transform: translate(170%, 0);
          transform: translate(170%, 0);
  position: relative;
  z-index: 5;
}

.control-main-slider__arrow_right {
  -webkit-transform: translate(-170%, 0);
      -ms-transform: translate(-170%, 0);
          transform: translate(-170%, 0);
}

.control-main-slider .circle {
  position: absolute;
  top: 37.5%;
  left: 37.5%;
  width: 26px;
  height: 26px;
  -webkit-animation: rotate 5s infinite linear;
          animation: rotate 5s infinite linear;
}

.lots {
  padding: 85px 0px 65px 0px;
}

.block-header__title {
  margin-bottom: 22px;
}

.block-header__decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  overflow: hidden;
}

.block-header__decor-watch {
  padding: 0 50px;
  max-width: 100%;
}

.slider-lots .swiper-wrapper {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  max-height: 631px;
}

.control-slider-lots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.no-webp .control-slider-lots__arrow_left{
  background: url("../img/png/lots_arrow_right.png") 0 0 no-repeat, url("../img/png/ellipse_lots.png") 100% 50% no-repeat; }

.control-slider-lots__arrow_left {
  cursor: pointer;
  padding-right: 20px;
  height: 35px;
  width: 128px;
}

.no-webp .control-slider-lots__arrow_right{
  background: url("../img/png/lots_arrow_right.png") 0 0 no-repeat, url("../img/png/ellipse_lots.png") 100% 50% no-repeat; }

.control-slider-lots__arrow_right {
  padding-left: 20px;
  cursor: pointer;
  height: 35px;
  width: 128px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.no-webp .control-slider-lots__link{
  background: url("../img/png/ellipse_center.png") 50% no-repeat; }

.control-slider-lots__link {
  margin: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  width: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "pfdintextcondpro";
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
  text-transform: uppercase;
}

.lot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 45px 0px;
  text-align: center;
  height: 100%;
}

.lot__image {
  margin-bottom: 30px;
}

.lot__tiile {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  z-index: 5;
  font-family: "pfdintextcondpro";
  font-size: 21px;
  line-height: 25px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.lot__bid {
  margin-bottom: 30px;
}

.lot__btn {
  font-family: "pfdintextcondpro";
  font-size: 21px;
  line-height: 25px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 10px 20px;
  max-width: 213px;
  margin: 0 auto;
}

.image-lot {
  position: relative;
  max-width: 100%;
  min-height: 250px;
  max-height: 250px;
}

.image-lot__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.no-webp .image-lot__time{
  background: url("../img/png/pesol.png") 50% 20% no-repeat, url("../img/png/romb_lots.png") 0 0 no-repeat; }

.image-lot__time {
  font-size: 17px;
  line-height: 21px;
  padding-top: 35px;
  padding-left: 6px;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 100px;
  width: 100px;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.bid-lot__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.no-webp .bid-lot__sum{
  background: url("../img/png/lot_romb.png") 50% 0 no-repeat; }

.hand-lot,
.views-lot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hand-lot__image,
.views-lot__image {
  width: 20px;
  height: 20px;
  background: #1c242a;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-bottom: 5px;
}

.hand-lot__sum::after,
.views-lot__sum::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1px;
  width: 50px;
  background-color: #bb9c66;
}

.views-lot__img {
  -webkit-transform: rotate(315deg) translate(-30%, 50%);
      -ms-transform: rotate(315deg) translate(-30%, 50%);
          transform: rotate(315deg) translate(-30%, 50%);
}

.sum-lot {
  text-align: center;
}

.sum-lot__text {
  margin-bottom: 14px;
}

.sum-lot__sum {
  padding: 0px 4px;
  font-family: "BravoRGRegular";
  font-size: 50px;
  line-height: 21px;
  font-weight: 400;
  color: #1c242a;
  margin-bottom: 14px;
  letter-spacing: 1px;
}

.sum-lot__valute {
  margin-bottom: 10px;
}

.hand-lot__img {
  -webkit-transform: rotate(315deg) translate(-15%, 20%);
      -ms-transform: rotate(315deg) translate(-15%, 20%);
          transform: rotate(315deg) translate(-15%, 20%);
}

.categories {
  margin: 0px 0px 77px 0px;
}

.categories__items {
  margin: 0px 0px 85px 0px;
}

.categories__container {
  overflow: hidden;
  position: relative;
}

.categories__container::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 50px;
  background-color: #fff;
  width: 100%;
}

.categories__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -50px 0px;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 33px 0px 0px 0px;
}

.categories__row:before,
.categories__row:after {
  content: "";
  position: absolute;
  top: 3px;
  width: 17.28px;
  height: 17.28px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17.28px;
          flex: 0 0 17.28px;
  margin: 0px 0px 0px 1px;
  -webkit-transform: translate(-50%, 0) rotate(-45deg);
      -ms-transform: translate(-50%, 0) rotate(-45deg);
          transform: translate(-50%, 0) rotate(-45deg);
  border: 1px solid #bb9c66;
}

.categories__row:before {
  left: 33.333%;
}

.categories__row::after {
  left: 66.667%;
}

.categories__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 0px 50px 25px;
  margin: 0px 0px 25px 0px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categories__column::before {
  content: "";
  background-color: #bb9c66;
  width: 10px;
  height: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 10px;
  flex: 0 0 10px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: -5px;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.categories__decor {
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  -webkit-transform: translate(50%, 0px);
  -ms-transform: translate(50%, 0px);
  transform: translate(50%, 0px);
  height: calc(100% + 9px);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 5;
}

.categories__decor:before {
  content: "";
  background-color: #bb9c66;
  width: 1px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.categories__decor:after {
  content: "";
  width: 17.28px;
  height: 17.28px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17.28px;
          flex: 0 0 17.28px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border: 1px solid #bb9c66;
  margin: 15px 0px 0px 0px;
}

.categories__decor span {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.categories__decor span:before {
  content: "";
  background-color: #bb9c66;
  width: 10px;
  height: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 10px;
  flex: 0 0 10px;
  border-radius: 50%;
  margin: 20px 0;
}

.categories__decor span:after {
  content: "";
  background-color: #bb9c66;
  width: 1px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.item {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 30px 40px 30px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  width: 250px;
}

.item__link {
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item__icon {
  position: relative;
  z-index: 2;
  margin: 0px 0px 22px 0px;
}

.item__title {
  -webkit-transition: 0.8s ease;
  -o-transition: 0.8s ease;
  transition: 0.8s ease;
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.1904761905;
  letter-spacing: 2.1px;
  text-transform: uppercase;
  font-family: "pfdintextcondpro";
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.item__deco {
  text-align: center;
  position: relative;
  z-index: 2;
}

.item__bg {
  -webkit-transition: -webkit-transform 0.8s ease 0s;
  transition: -webkit-transform 0.8s ease 0s;
  -o-transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item__bg img {
  max-width: 100%;
}

.item__bg:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
}

.text {
  padding-bottom: 80px;
}

.text__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text__block {
  padding: 0px 0px 0px 40px;
}

.text__text {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  color: #333333;
}

.text__text + .text__text {
  margin-top: 25px;
}

.additional {
  padding: 65px 0px 70px 0px;
  background: #1c242a;
}

.additional__header {
  margin-bottom: 40px;
}

.additional__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.additional__item {
  padding: 30px 10px 30px 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
  font-family: "pfdintextcondpro";
  font-size: 21px;
  line-height: 25px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #ffffff;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.additional__item:nth-child(3n+2) {
  margin: 0 60px;
}

.additional__image {
  margin-bottom: 40px;
  height: 162px;
  max-width: 100%;
}

.additional__title {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.additional__text {
  font-family: "PT Sans";
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #bb9c66;
  letter-spacing: 0px;
  margin-bottom: 30px;
}

.additional__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.additional__btn:hover {
  color: #bb9c66;
}

.additional__btn::after,
.additional__btn::before {
  content: "";
  height: 1px;
  width: 50px;
  background: #bb9c66;
}

.quotes {
  padding: 65px 0px 70px 0px;
}

.quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote__image {
  margin-right: 60px;
}

.quote__text {
  font-size: 15px;
  line-height: 25px;
  font-style: normal;
  text-transform: none;
  color: #1c242a;
  max-width: 520px;
}

.quote__header {
  font-size: 25px;
  line-height: 30px;
  font-style: italic;
  color: #000000;
  letter-spacing: 0px;
  margin-bottom: 30px;
}

.control-quotes {
  text-align: center;
}

.no-webp .control-quotes__image{
  background: url("../img/png/quotes/bg.png") 50% no-repeat, url("../img/png/quotes/ellipse_25_4429.png") 50% no-repeat; }

.control-quotes__image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.control-quotes__image::before,
.control-quotes__image::after {
  content: "";
  width: 110px;
  height: 1px;
  background: #bb9c66;
}

.control-quotes__image::after {
  margin-left: 70px;
}

.control-quotes__image::before {
  margin-right: 70px;
}

.control-quotes__img {
  display: inline-block;
  cursor: pointer;
  -webkit-animation: rotate 5s infinite linear;
          animation: rotate 5s infinite linear;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.articles {
  padding-bottom: 70px;
}

.articles__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.articles__news {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-right: 40px;
  margin-bottom: 40px;
}

.articles__events {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-left: 40px;
}

.subscribe-articles__title,
.events-articles__title,
.news-articles__title {
  font-family: "pfdintextcondpro";
  font-size: 35px;
  line-height: 25px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000000;
  margin-bottom: 35px;
}

.subscribe-articles,
.events-articles,
.news-articles {
  font-family: "PT Sans";
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #333333;
}

.subscribe-articles__subtitle,
.events-articles__subtitle,
.news-articles__subtitle {
  font-family: "PT Sans";
  font-size: 15px;
  line-height: 25px;
  font-weight: 700;
  text-decoration: underline;
  color: #333333;
  letter-spacing: 1px;
}

.no-webp .news-articles__title{
  background: url("../img/png/article/news.png") 0 50% no-repeat; }

.news-articles__title {
  padding-left: 40px;
}

.news-articles__column + .news-articles__column {
  margin-top: 30px;
}

.news-articles__date {
  font-size: 12px;
  color: #bb9c66;
}

.no-webp .events-articles__title{
  background: url("../img/png/article/events.png") 0 0 no-repeat; }

.events-articles__title {
  padding-left: 40px;
}

.events-articles__column + .events-articles__column {
  margin-top: 30px;
}

.no-webp .subscribe-articles__title{
  background: url("../img/png/article/subscribe.png") 0 0 no-repeat; }

.subscribe-articles__title {
  padding-left: 40px;
}

.subscribe-articles__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-articles__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
  padding-right: 40px;
}

.subscribe-articles__form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  max-height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 3px solid #bb9c66;
}

.subscribe-articles__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 20px;
}

.subscribe-articles__input::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #4f4f4f;
}

.subscribe-articles__input::-moz-placeholder {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #4f4f4f;
}

.subscribe-articles__input:-ms-input-placeholder {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #4f4f4f;
}

.subscribe-articles__input::-ms-input-placeholder {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #4f4f4f;
}

.subscribe-articles__input::placeholder {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #4f4f4f;
}

.no-webp .subscribe-articles__btn{
  background: url("../img/png/article/arrow.png") 75% 40% no-repeat; }

.subscribe-articles__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "pfdintextcondpro";
  font-size: 21.3px;
  line-height: 25px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #1c242a;
  padding-right: 50px;
}

.subscribe-articles__btn::before {
  content: "";
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1px;
  height: 30px;
  background: #bb9c66;
}

.footer {
  background: #1c242a;
  padding: 60px 0px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 220px;
          flex: 0 0 220px;
}

.footer__logo-link {
  display: inline-block;
  margin-bottom: 20px;
}

.footer__logo-text {
  letter-spacing: 1px;
  color: #bb9c66;
}

.footer__menu {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding-top: 15px;
}

.footer__menu-list {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 0;
  letter-spacing: 0.5px;
  padding-left: 0;
  gap: 20px;
}

.footer__menu-link {
  font-family: "pfdintextcondpro";
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.footer__menu-link + .footer__menu-link {
  margin-left: 0;
}

.footer__connection {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 230px;
          flex: 0 0 230px;
  text-align: right;
}

.footer__connection-tel {
  display: inline-block;
  margin-bottom: 10px;
  letter-spacing: 0px;
  font-family: "BravoRGRegular";
  font-size: 50px;
  line-height: 25px;
  font-weight: 400;
  text-transform: uppercase;
  color: #bb9c66;
}

.footer__connection-tel span {
  display: inline-block;
  font-size: 25px;
}

.no-webp .footer__connection-text{
  background: url("../img/png/shape.png") 0 50% no-repeat; }

.footer__connection-text {
  letter-spacing: 1px;
  color: #bb9c66;
  padding-left: 15px;
}

/*
&__menu {
	display: none;

	@media (max-width: 767px) {
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;

		& span,
		&::before,
		&::after {
			left: 0;
			position: absolute;
			height: 10%;
			width: 100%;
			transition: all 0.3s ease 0s;
			background-color: #fff;
		}

		&::before,
		&::after {
			content: "";
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		& span {
			top: 50%;
			transform: scale(1) translate(0px, -50%);
		}

		&._active span {
			transform: scale(0) translate(0px, -50%);
		}

		&._active::before {
			top: 50%;
			transform: rotate(-45deg) translate(0px, -100%);
		}

		&._active::after {
			bottom: 50%;
			transform: rotate(45deg) translate(0px, 100%);
		}
	}
}
*/

@media (min-width: 992px) {
  .menu__link:hover {
    text-decoration: underline;
  }

  .actions-header__region:hover {
    text-decoration: underline;
  }

  .user-header__link:hover {
    text-decoration: underline;
  }

  .additional__item:hover {
    -webkit-box-shadow: 0px 2px 22px 1px rgba(187, 156, 102, 0.7529411765);
            box-shadow: 0px 2px 22px 1px rgba(187, 156, 102, 0.7529411765);
  }
}

@media (min-width: 993px) {
  .item:hover .item__bg {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .item:hover .item__title {
    color: #bb9c66;
  }
}

@media (max-width: 992px) {
  .sum-lot__sum {
    font-size: 35px;
  }

  .articles__news {
    padding-right: 20px;
  }

  .articles__events {
    padding-left: 20px;
  }
}

@media (max-width: 975px) {
  .categories__row:before {
    left: 50%;
  }

  .categories__row::after {
    display: none;
  }

  .categories__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 950px) {
  .footer__container {
    display: block;
    text-align: center;
  }

  .footer__logo {
    margin-bottom: 20px;
  }

  .footer__menu {
    max-width: 500px;
    margin: 0 auto 40px auto;
  }

  .footer__menu-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }

  .footer__connection {
    text-align: center;
  }

  .footer__connection-tel {
    display: block;
  }
}

@media (max-width: 940px) {
  .additional__item:nth-child(3n+2) {
    margin: 0 30px;
  }
}

@media (max-width: 910px) {
  .additional__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .additional__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .additional__item:nth-child(3n+2) {
    margin: 0;
  }

  .additional__btn::after,
  .additional__btn::before {
    margin: 0 30px;
  }
}

@media (max-width: 890px) {
  .actions-header__region {
    padding-left: 0;
  }

  .actions-header__region span {
    display: none;
  }
}

@media (max-width: 880px) {
  .lot__tiile {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .text__image {
    display: none;
  }

  .text__block {
    padding: 0px;
  }

  .additional__btn {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 767px) {
  .header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    z-index: 5;
  }

  .menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .menu__body {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 36, 42, 0.8705882353);
    text-align: center;
    font-size: 20px;
    padding: 95px 0px 20px 0px;
    overflow: auto;
    max-width: 100vw;
  }

  .menu__body::after {
    content: "";
    background-color: #1c242a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
  }

  .menu__body._active {
    opacity: 1;
    visibility: visible;
  }

  .menu__list {
    display: block;
  }

  .menu__list li {
    margin-bottom: 15px;
  }

  .icon__menu {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    overflow: hidden;
    cursor: pointer;
  }

  .icon__menu span,
  .icon__menu::before,
  .icon__menu::after {
    background-color: #bb9c66;
    left: 0;
    position: absolute;
    height: 2px;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .icon__menu::before,
  .icon__menu::after {
    content: "";
  }

  .icon__menu::before {
    top: 0;
  }

  .icon__menu::after {
    bottom: 0;
  }

  .icon__menu span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .icon__menu._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .icon__menu._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0, -100%);
        -ms-transform: rotate(-45deg) translate(0, -100%);
            transform: rotate(-45deg) translate(0, -100%);
  }

  .icon__menu._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0, 100%);
        -ms-transform: rotate(45deg) translate(0, 100%);
            transform: rotate(45deg) translate(0, 100%);
  }

  .no-webp .actions-header__region{
    background: url("../img/png/globe_reg.png") 0 2px no-repeat; }

  .actions-header__region {
    padding-left: 35px;
  }

  .actions-header__region span {
    display: inline-block;
    margin-top: 20px;
  }

  .title__text {
    padding: 0;
  }

  .articles__container {
    display: block;
  }

  .articles__news {
    padding-right: 0;
  }

  .articles__events {
    padding-left: 0;
    margin-bottom: 40px;
  }

  .subscribe-articles__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .subscribe-articles__text {
    padding-right: 0;
    margin-bottom: 40px;
  }
}

@media (max-width: 740px) {
  .additional__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 650px) {
  .categories__row:before {
    display: none;
  }

  .categories__column::before {
    display: none;
  }

  .categories__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 580px) {
  .quote {
    padding-top: 40px;
    text-align: center;
    display: block;
  }

  .quote__image {
    margin-right: 0;
  }

  .quote__data {
    margin-bottom: 40px;
  }
}

@media (max-width: 540px) {
  .block-header__decor-watch {
    padding: 0 25px;
  }
}

@media (max-width: 480px) {
  .main-slider .swiper-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media (max-width: 460px) {
  .no-webp .control-slider-lots__arrow_right{
    background: url("../img/png/lots_arrow_right.png") 0 0 no-repeat; }
  .control-slider-lots__arrow_right {
    max-width: 90px;
    padding-left: 10px;
  }

  .no-webp .control-slider-lots__arrow_left{
    background: url("../img/png/lots_arrow_right.png") 0 0 no-repeat; }

  .control-slider-lots__arrow_left {
    max-width: 90px;
    padding-left: 10px;
  }
}

@media (max-width: 380px) {
  .control-slider-lots__arrow_right {
    max-width: 60px;
  }

  .control-slider-lots__arrow_left {
    max-width: 60px;
  }
}

@media (max-width: 370px) {
  .additional__btn::after,
  .additional__btn::before {
    margin: 0;
  }
}

.webp .actions-header__region{ background: url(../img/png/globe_reg.webp) 0 1px no-repeat; }

.webp .user-header__icon{ background: url(../img/png/shape_top.webp) 25px 25% no-repeat, url(../img/png/shape_bot.webp) 25px 75% no-repeat; }

.webp .user-header__link_1{ background: url(../img/png/globe_2.webp) 2px center no-repeat; }

.webp .user-header__link_2{ background: url(../img/png/key.webp) -20px center no-repeat; }

.webp .user-header__link_3{ background: url(../img/png/palm_3680.webp) 4px center no-repeat; }

.webp .user-header__link_4{ background: url(../img/png/hammer_3682.webp) left center no-repeat; }

.webp .control-slider-lots__arrow_left{ background: url(../img/png/lots_arrow_right.webp) 0 0 no-repeat, url(../img/png/ellipse_lots.webp) 100% 50% no-repeat; }

.webp .control-slider-lots__arrow_right{ background: url(../img/png/lots_arrow_right.webp) 0 0 no-repeat, url(../img/png/ellipse_lots.webp) 100% 50% no-repeat; }

.webp .control-slider-lots__link{ background: url(../img/png/ellipse_center.webp) 50% no-repeat; }

.webp .image-lot__time{ background: url(../img/png/pesol.webp) 50% 20% no-repeat, url(../img/png/romb_lots.webp) 0 0 no-repeat; }

.webp .bid-lot__sum{ background: url(../img/png/lot_romb.webp) 50% 0 no-repeat; }

.webp .control-quotes__image{ background: url(../img/png/quotes/bg.webp) 50% no-repeat, url(../img/png/quotes/ellipse_25_4429.webp) 50% no-repeat; }

.webp .news-articles__title{ background: url(../img/png/article/news.webp) 0 50% no-repeat; }

.webp .events-articles__title{ background: url(../img/png/article/events.webp) 0 0 no-repeat; }

.webp .subscribe-articles__title{ background: url(../img/png/article/subscribe.webp) 0 0 no-repeat; }

.webp .subscribe-articles__btn{ background: url(../img/png/article/arrow.webp) 75% 40% no-repeat; }

.webp .footer__connection-text{ background: url(../img/png/shape.webp) 0 50% no-repeat; }

@media (max-width: 767px){

  .webp .actions-header__region{ background: url(../img/png/globe_reg.webp) 0 2px no-repeat; }
}

@media (max-width: 460px){

  .webp .control-slider-lots__arrow_right{ background: url(../img/png/lots_arrow_right.webp) 0 0 no-repeat; }
}

@media (max-width: 460px){

  .webp .control-slider-lots__arrow_left{ background: url(../img/png/lots_arrow_right.webp) 0 0 no-repeat; }
}